.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 68px;
    background-color: white;
    z-index: 2;
    padding-top: 5px;
   

}
.sidebar-link{
    display: flex;
    flex-direction:column;
    height: 76px;
    margin-bottom: 1px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(237, 232, 232);
}
.sidebar-link img{
    height: 25px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;

}